@charset "utf-8";

/*  scrollbar */
.mCSB_horizontal.mCSB_inside > .mCSB_container{
	margin-bottom: 8px;
}

/* 모바일에서 세로방향 터치불가 fix */
.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox {
	height: auto;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	touch-action: auto;
}
.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
/*.mCustomScrollBox.mCSB_horizontal { touch-action: pan-y pinch-zoom; }*/

.tbl {
	position: relative;
}
.tbl table {
	width: 100%;
	text-align: center; font-size: 1.5rem;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
}
.tbl table thead th {
	padding: 8px;
	color: #000; font-weight: 500; text-align: center; 
	background-color: #bee3e4;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.tbl table tbody th, .tbl table tfoot th {
	padding: 8px;
	color: #000; text-align: center; font-weight: 400;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}
.tbl table tbody td, .tbl table tfoot td {
	padding: 8px;
	text-align: center; color: #000;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}

.tbl_col table {
	border-top: 2px solid #3fb6b9;
}
.tbl_col table thead th {
	padding: 8px 0;
	font-weight: 500;
	background: #bee3e4;
	border: 1px solid #ebebeb;
}
.tbl_col table tbody td {
	position: relative;
	border: 1px solid #ebebeb;
	border-top: none;
}
.tbl_col table thead th:first-child {
	border-left: none;
}
.tbl_col table thead th:last-child {
	border-right: none;
}
.tbl_col table tbody th:first-child {
	border-left: none;
}
.tbl_col table tbody td:first-child {
	border-left: none;
}
.tbl_col table tbody td:last-child {
	border-right: none;
}
.tbl_col .bg_td {
	background: #bee3e4;
}
.tbl_col .bg_tr {
	background: #7eccce;
}

.tbl_row table thead th {
	padding: 8px 0;
	font-weight: 500;
	background: #bee3e4;
	border: 1px solid #ebebeb;
}
.tbl_row table thead th:first-child {
	border-left: none;
	border-left: 2px solid #009ab7 !important;
}
.tbl_row table thead th:last-child {
	border-right: none;
}
.tbl_row table tbody th {
	font-weight: 600; text-align: center; color: #2c2c2c;
	background: #bee3e4;
	border: 1px solid #ebebeb;
	border-left: 2px solid #009ab7 !important;
}
.tbl_row table tbody td {
	text-align: left;
	border: 1px solid #ebebeb;
}
.tbl_row table thead th:first-child {
	border-left: none;
}
.tbl_row table thead th:last-child {
	border-right: none;
}
.tbl_row table tbody th:first-child, .tbl_row table tbody td:first-child {
	border-left: none;
}
.tbl_row table tbody td:last-child {
	border-right: none;
}
.tbl_row .bg_td {
	background: #bee3e4;
}
.tbl_txt_sm {
	display: block;
	font-size: 1.2rem;
}

/* 가로 스크롤 테이블 */
.mCSB_container {
	width: 100% !important;
}
.scrollx_tbl_xxs {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xxs .mCSB_container {
	min-width: 380px !important;
}
.scrollx_tbl_xxs table{
	min-width: 380px;
}
.scrollx_tbl_xs {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xs .mCSB_container {
	min-width: 500px !important;
}
.scrollx_tbl_xs table{
	min-width: 500px;
}
.scrollx_tbl_sm {
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_sm .mCSB_container {
	min-width: 600px !important;
}
.scrollx_tbl_sm table{
	width: 100%;
	min-width: 600px;
}
.scrollx_tbl_md{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_md .mCSB_container {
	min-width: 800px !important;
}
.scrollx_tbl_md table{
	min-width: 800px;
}
.scrollx_tbl_lg{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_lg .mCSB_container {
	min-width: 1000px !important;
}
.scrollx_tbl_lg table{
	min-width: 1000px;
}
.scrollx_tbl_xl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xl .mCSB_container {
	min-width: 1200px !important;
}
.scrollx_tbl_xl table{
	min-width: 1200px;
}
.scrollx_tbl_xxl{
	width: 100%;
	overflow-x: auto;
}
.scrollx_tbl_xxl .mCSB_container {
	min-width: 1600px !important;
}
.scrollx_tbl_xxl table{
	min-width: 1600px;
}

.tbl_hover tbody tr:hover {
	background-color: #dbecf6;
	cursor: pointer;
}

/* input, textarea, select 사용 */
.td_input {
	padding: 5px !important;
}
/* radio, check 사용 */
.td_input2 {
	padding: 5px 10px !important;
}
.tbl_fixed table {
	table-layout: fixed;
	word-break: break-all;
}

/* 공통 */
.tb .select_form {
	margin: 0;
	margin-left: 0 !important;
}

/* 테이블 링크 */
.td_append {
	display: table;
	width: auto;
	word-break: break-word;
	table-layout: fixed;
}
.td_append a {
	display: table-cell;
	font-weight: inherit; word-break: break-word;
}
.td_append a p {
	position: relative;
	display: block;
	display: -webkit-box;
	height: 22px;
	font-weight: inherit; text-overflow: ellipsis; word-break: break-all; 
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.td_append .td_appendicon {
	display: table-cell;
	font-size: 0; line-height: 0; white-space: nowrap;
}
.linked {
	position: relative; top: -1px;
	display: inline-block;
	margin-left: 6px;
	width: 15px; height: 14px;
	vertical-align: 0;
	background: url(../../images/client/common/icon_direct.png) no-repeat center;
}
.filelinked {
	position: relative; top: -1px;
	display: inline-block;
	margin-left: 6px;
	width: 17px; height: 15px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_filelinked.png) no-repeat center;
}
.td_append a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/* 테이블 상세 보기 */
.viewer {
	position: relative; top: -1px;
	display: inline-block;
	margin-left: 5px;
	width: 15px; height: 15px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_td_viewer.png) no-repeat center;
}

/* 테이블 잠금 */
.locked {
	position: relative; top: -1px;
	display: inline-block;
	margin-left: 5px;
	width: 10px; height: 15px;
	vertical-align: 0;
	background: url(../../images/client/formstyle/icon_td_locked.png) no-repeat center;
	background-size: contain;
}

/* 파일 다운로드 */
.file_down {
	display: inline-block;
	width: 28px; height: 25px;
	vertical-align: top; font-size: 0; line-height: 0;
	background: url(../../images/client/formstyle/icon_filedown.png) no-repeat;
}
.file_down[disabled] {
	background: url(../../images/client/formstyle/bg_fileform.png) no-repeat;    
	cursor: default;
}

.file_down2 {
	display: inline-block;
	margin-right: 15px;
	padding-left: 20px;
	color: #0a199e;
	background: url(../../images/client/formstyle/icon_filelinked.png) no-repeat left 3px;
}
.file_down2:last-child {
	margin-right: 0;
}
.file_down2 .btn_del {
	margin-top: 3px; margin-left: 2px;
	vertical-align: top;
}

/* 아코디언 테이블 */
.accordion_js tbody tr {
	cursor: pointer;
}

/* 테이블 리스트 */
.tbl_ul li {
	display: inline-block;
	vertical-align: top;
}
.tbl_ul li::after {
	content: "/";
	margin: 0 2px;
	color: #777;
}
.tbl_ul li:last-child::after {
	display: none;
}
.tbl_ul li * {
	margin-left: 3px;
	vertical-align: top;
}

/* 테이블 달성/미달성 */
.tbl_mark {
	display: inline-block;
	margin: 0 5px;
	padding: 0 10px;
	line-height: 26px; color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tbl_mark.achieve {
	background-color: #3fb6b9;
}
.tbl_mark.unattained {
	background-color: #666 ;
}

/* 테이블 선택 */
.tbl_choice tbody tr > *:nth-child(1) {
	padding: 8px 0;
}


/*=================== hover ===================*/
@media screen and (min-width:1025px) {

	/* 테이블 링크 hover */
	.td_append a:hover {
		color: #038992;
	}


}
/*=================== //hover ===================*/
@media screen and (max-width:768px) {
	
}
